:root{
    --first-color:#E5D9F2;
    --second-color:#F5EFFF;
    --thirth-color:#CDC1FF;
    --fourth-color:#A594F9;
    --fifth-color:#7371FC;
    --background:#393D47;

    --element-background:var(--fifth-color)
}

body container{
    width: 960px;
    margin:0 auto;
}

.navlogo{
    width: 84px;
    height:84px;
    background-color: var(--thirth-color);
    border-radius: 50%;
    border: 2px solid black;
}

nav a span{
    font-size: 1.5em;
    text-decoration: none;
}
a:link{
    color:var(--first-color);
    font-style: none;
    text-decoration: none;
}
a:visited{
    color:var(--first-color);
}
nav a span:hover{
    text-decoration: underline solid 2px;
}
nav span{
    font-size: 1.5em;
    text-decoration: none;
}

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--element-background);
    padding: 10px;
    border-radius: 10px;
    width: inherit;
    border: 1.5px solid black;
}
html{
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

#aboutimg{
    border-radius:15% 0 15% 35%;
    width: 320px;
    height: 320px;
    background-color: var(--first-color);
}
#centereddiv{
    display:flex;
    flex-direction: column;
    align-items: center;
}
article p{
    margin: 0 0 0 10px;
    font-size: 18px;
}
.options{
    display:none;
    position:absolute;
    z-index: 1;
    padding: 25px;
    margin:0;
    background-color:var(--fourth-color);
    border-radius: 0 20px 20px 20px;
    list-style: none;
}
.drop{
    color:var(--first-color)
}

.drop:hover .options{
    display:block;
}
.drop:hover{
    color:var(--first-color);
    cursor:pointer;
    text-decoration:underline solid 2px;
}
.options:hover{
    display: block;
}

.teamLine{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background-color: var(--element-background);
    border-radius: 23% 0 0 23%;
    max-width: 960px;
}
.teamLine img{
    height: 256px;
    border-radius: 23%;
}

.teamText{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.teamTitle{
    font-size: 2em;
    font-weight: bold;
}

.teamName{
    font-size: 1.42em;
    font-style:italic;
}

.teamHistory{
    margin-top:15px;
    font-size:1.15em;
}

.teamHistory i{
    font-size:0.82em;
}

.aboutForm{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.aboutForm input,textarea,select{
    margin-top: 10px;
    border:none;
    border-radius: 5px;
    padding:2px
}

.centeredcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submitButton{
    background-color: rgb(70, 221, 70);
}
.coloredcont{
    background-color: var(--fifth-color);
    border-radius: 0 0 15px 15px;
    padding-bottom: 1em;;
}
.shopping{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardimg img{
    height:256px;
    margin-top:10px;
}

.shoppingcard{
    margin: 10px;
    background-color:var(--element-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius: 8px;
    border: 1.5px solid black;
}

.cardPrice button{
    background-color: var(--first-color);
    border: 0.5px solid black;
    border-radius: 5px;
    padding:1em 3em;
}
.cardPrice button:hover{
    cursor:pointer;
}

.shoppingcard:hover button{
    background-color: rgb(167, 216, 167);
}

.cardtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardtext li{
    list-style: circle;
}

.shoppingcard:hover{
    background-color: var(--thirth-color);
}

.sideToSide{
    display: flex;
    background-color: var(--element-background);
    border-radius:15% 15px 15px 35%;
}

.futureproductgrid{
    display:grid;
    grid-template-columns: 50% 50%;
}

.futureproductgrid div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardTitle{
    font-size:1.5em;
    text-decoration: underline;
    min-height: 2.5em;
}
.KnowMoreButton{
    padding: 0.9em 7em;
    border-radius: 5px;
    background-color: var(--first-color);
}

.KnowMoreButton:hover{
    cursor:pointer;
}

.futureproductgrid .cardimg img{
    height: 412px;
}

.frontGrid{
    margin:5px;
    display: grid;
    grid-template-columns: 78% 22%;
}
.mainArticle{
    display: grid;
    grid-template-columns: 55% 20em;
    background-color: var(--element-background);
    max-height: 25em;
}

.mainArticle img{
    width: 400px;
}

.mainArticle a:hover{
    text-decoration: underline solid 1px;
}

.articleList{
    display: flex;
    flex-direction: column;
}

.smallArticle{
    background-color: var(--element-background);
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallArticle p{
    text-align: center;
    max-width: 13em;
}
.articleImg{
    height: 120px;
    width: 208px;
}
a{
    color:var(--first-color);
}
a:hover{
    text-decoration: underline solid 1px;
    color:var(--first-color);
    cursor:pointer;
}

.Mark{
    font-size: 2em;
}

.HiddenLink{
    color:black!important;
}
.HiddenLink:hover{
    color:black;
    text-decoration: underline solid 1px;
}

.bigButton{
    padding:2em 5em;
    border-radius: 10px;
    border:1px solid black;
    cursor:pointer;
}

p,a,span,h2,h1,li,button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contrast{
    color:var(--first-color)
}